@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: yekan;
  src: url('../fonts/Yekan.ttf');
}

* {
  margin: 0;
}

body, html {
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('img/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.card_title {
  font-family: yekan;
  font-size: 32px;
  direction: rtl;
  float: right;
  margin: 0 auto;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}

.mdl-card__supporting-text {
  direction: rtl;
  font-family: yekan;
  font-size: 20px !important;
}

.mdl-button {
  float: right !important;
  direction: rtl;
  font-family: yekan !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
