@font-face {
  font-family: Poppins-Regular;
  src: url('../../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: yekan;
  src: url('../../fonts/Yekan.ttf');
}

* {
  margin: 0;
  font-family: yekan;
  font-size: 18px;
  font-weight: 300;
}

body, html {
  background: -webkit-linear-gradient(-135deg, #c850c0, #1437ea);
  background: -o-linear-gradient(-135deg, #c850c0, #1437ea);
  background: -moz-linear-gradient(-135deg, #c850c0, #1437ea);
  background: linear-gradient(-135deg, #c850c0, #1437ea);
  height: 100%;
  overflow: hidden;
}

header {
  width: 100%;
  height: 40px;
  background: #f3f3f3;
  -webkit-box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.75);
}

#menu-button, #user-button {
  float: right;
  height: 100%;
  width: 15px;
  background: #ccc;
  box-shadow: none;
}

#user-button {
  float: left;
  width: 6%;
  min-width: 82px;
  padding: 2px 10px;
  background: #f3f3f3;
  position: relative;
}

#menu-button i {
  font-size: 18px;
}

#user-button i {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#top-user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  margin-left: 20px;
}

#dropdown-div {
  background: #fff;
  float: left;
  display: none;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.38);
  -moz-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.38);
  box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.38);
}

#dropdown-ul {
  padding: 0;
  min-width: 110px;
}

.dropdown-li {
  list-style: none;
}

.dropdown-button {
  width: 100%;
  background: #f3f3f3;
  line-height: normal;
}

.dropdown-button:hover {
  background: #f3f3f3;
}

.dropdown-i {
  float: right;
  margin-left: 5px;
}

.dropdown-text {
  font-family: yekan;
  font-weight: 400;
  font-size: 18px;
}

#right-menu {
  float: right;
  height: 100%;
  width: 15%;
  background: #f3f3f3;
}
