@font-face {
  font-family: Poppins-Regular;
  src: url('../../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: yekan;
  src: url('../../fonts/Yekan.ttf');
}

* {
  margin: 0;
  font-family: yekan;
  font-size: 18px;
  font-weight: 300;
}

body, html {
  background: -webkit-linear-gradient(-135deg, #c850c0, #1437ea);
  background: -o-linear-gradient(-135deg, #c850c0, #1437ea);
  background: -moz-linear-gradient(-135deg, #c850c0, #1437ea);
  background: linear-gradient(-135deg, #c850c0, #1437ea);
  height: 100%;
  display: inline-table;
}

header {
  width: 100%;
  height: 40px;
  background: #f3f3f3;
  -webkit-box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.75);
}

#menu-button, #user-button {
  float: right;
  height: 100%;
  width: 15px;
  background: #ccc;
  box-shadow: none;
}

#user-button {
  float: left;
  width: 6%;
  min-width: 82px;
  padding: 2px 10px;
  background: #f3f3f3;
  position: relative;
}

.menu-bars {
  font-size: 18px;
}

#user-button i {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#top-user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  margin-left: 20px;
}

#dropdown-div {
  background: #fff;
  float: left;
  display: none;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.38);
  -moz-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.38);
  box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.38);
  border-radius: 0 0 50px 0;
  position: absolute;
  z-index: 999;

}

#dropdown-ul {
  padding: 0;
  min-width: 110px;
}

.dropdown-li {
  list-style: none;
}

.dropdown-button {
  width: 100%;
  background: #f3f3f3;
  line-height: normal;
}

.dropdown-button:hover {
  background: #f3f3f3;
}

.dropdown-i {
  float: right;
  margin-left: 5px;
}

.dropdown-text {
  font-family: yekan;
  font-weight: 400;
  font-size: 18px;
}

#right-menu {
  float: right;
  height: 100%;
  width: 15%;
  min-width: 200px;
  background: #f3f3f3;
  display: none;
  -webkit-box-shadow: -23px 22px 47px -9px rgba(0,0,0,0.44);
  -moz-box-shadow: -23px 22px 47px -9px rgba(0,0,0,0.44);
  box-shadow: -23px 22px 47px -9px rgba(0,0,0,0.44);
  position: absolute;
  z-index: 999;
  right: 0;
}

#right-menu-ul {
  padding: 0;
}

.right-menu-li {
  list-style: none;
  margin: 10px 0;
  border-right: #0c9e61 5px solid;
}

.right-menu-text {
  font-size: 18px;
}

.right-menu-i {
  float: right;
}

#container {
  width: 100%;
}

.box-headers {
  background: #ccc;
  border-radius: 3px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 5px 0;
}

#todo-header span {
  font-family: 'Mukta', sans-serif;
  font-size: 22px;
}

#todos {
  background: #FFF;
  border-radius: 3px;
}

#todos-ul {
  padding: 10px;
}

.todos-li {
  list-style: none;
  width: 100%;
}

.todos-span {
  float: right;
  direction: rtl;
}

#add-todo {
  width: 100%;
  font-family: yekan;
  direction: rtl;
  font-size: 18px;
  display: none;
}

#add-todo-i {
  font-size: 12px;
}

#add-todo-form {
  display: none;
}

#add-todo-input {
  width: 96%;
  border: 0;
  padding: 5px 2%;
  direction: rtl;
  float: right;
  background: #f3f3f3;
  outline: none;
}

#add-todo-input::placeholder {
  color: #000;
}

#add-todo-cancel , #add-todo-ok {
  width: 50%;
  display: inline-block;
}

#add-todo-cancel {
  float: left;
}

#add-todo-always {
  width: 100%;
  background-color: #ccc;
  font-family: yekan;
  font-size: 20px;
}

.boxes {
  background: #f3f3f3;
  min-width: 300px;
  max-height: 70%;
  margin: 20px 10px;
  display: inline-block;
  border-radius: 3px;
  float: right;
  -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
}

#account-statistics {
  background: #FFF;
  float: left;
  max-height: 250px;
  width: 350px;
}

#account-contents {
  padding: 5px;
}

#account-header span {
  font-family: yekan;
  font-size: 24px;
}

#profile-photo {
  display: inline-flex;
  position: relative;
}

#profile-photo:hover {
  cursor: pointer;
}

#change-photo {
  position: absolute;
  font-size: 32px;
  right: 35%;
  top: 35%;
  display: none;
}

#profile-img {
  margin: 0 auto;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.persian {
  float: right;
  font-family: yekan;
  direction: rtl;
}

#account-username-content {
  font-family: 'Open Sans';
  font-size: 15px;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}

#account-right-contents {
  float: right;
}

#account-username, #account-followers, #account-following {
  display: block;
  margin-top: 5px;
  float: right;
  font-size: 17px;
}

#account-teams {
  width: 100%;
  float: right;
}

#account-teams-span {
  margin-right: 7px;
  font-size: 22px;
  width: 100%;
}

#account-teams-ul {
  list-style: none;
  padding: 0;
  float: right;
}

.account-teams-li {
  float: right;
  width: 50px;
  margin: 5px 15px;
}

.account-teams-img {
  float: right;
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  background: #fff;
}

#add-team {
  width: 100%;
  font-family: yekan;
  direction: rtl;
  font-size: 18px;
  background: #ffb100;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
}

#team-notfound {
  text-align: center;
  direction: rtl;
  width: 100%;
  margin-bottom: 10px;
  display: none;
  margin-top: 10px;
  float: left;
}

#activities {
  width: 350px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  padding: 0;
}

#radar-chart {
  margin: 0 auto;
  display: flex;
}

#radar-chart svg {
  margin: 0 auto;
}

.legend {
  font-family: yekan !important;
  font-size: 16px !important;
  font-weight: bold;
}

.legend_help {
  border-radius: 50%;
  background-color: #000;
  width: 10px;
  height: 10px;
}

#teams-activities {
  width: 335px;
  background: #FFF;
}

#teams-activities-ul {
  padding: 0;
}

.teams-activities-li {
  list-style: none;
  direction: rtl;
  height: 40px;
  padding: 2px;
}

.teams-activities-a {
  direction: rtl;
  float: right;
  width: 100%;
}

.teams-activities-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: right;
}

.team-subject {
  width: 100%;
  font-family: yekan;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  background-color: #9c8900;
  color: #FFF;
}

.teams-activities-span {
  float: right;
  color: #000;
  font-size: 16px;
  margin-right: 5px;
}

.teams-activities-li:hover {
  background: #ccc;
  cursor: pointer;
  border-radius: 3px;
}

#deadline-manager {
  width: 100%;
  height: 390px;
  margin-left: 0;
  margin-right: 0;
  background-color: #43015b;
  position: relative;
}

#deadline-header {
  background: #43015b;
  color: #FFF;
  margin-top: 10px;
  display: block;
  float: right;
  width: 100%;
}

#deadline-header span {
  font-size: 24px;
}

#calender {
  float: right;
  width: 80%;
}

#tasks {
  width: 20%;
  height: 100%;
  background-color: #700199;
}

#tasks-header {
  float: right;
  color: #FFF;
  margin: 10px 0;
  font-size: 22px;
  width: 100%;
  text-align: center;
}

#not_tasks {
  width: 100%;
  text-align: center;
  display: none;
}

#not_tasks img {
  width: 70%;
}

#not_tasks_span {
  max-width: 50px;
  background: #43015b;
  border-radius: 4px;
  padding: 5px;
  width: 10px;
  color: #FFF;
  -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
}

#tasks-display {
  background: #20002b;
  display: block;
  height: 100%;
  position: relative;
}

#add-task {
  position: absolute;
  bottom: 10px;
  -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  right: 10px;
}

#add-task-div {
  width: 100%;
  text-align: center;
  display: none;
}

.task-input-class {
  width: 80%;
  border-radius: 4px;
  padding: 4px;
  border-width: 0px;
  background-color: #43015b;
  -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  margin: 10px;
  color: #FFF;
  outline: none;
  text-align: center;
}

#task-input {
  resize: vertical;
  max-height: 60px;
  margin-top: 40px;
}

.task-input-class::placeholder {
  direction: rtl;
  padding: 4px;
  color: #FFF;
}

#ok-task, #cancel-task {
  display: none;
  position: absolute;
  bottom: 10px;
  -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
}

#cancel-task {
  left: 10px;
}

#ok-task {
  right: 10px;
}

#task-type {
  -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  background-color: #43015b;
  color: #FFF;
  direction: rtl;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 20px;
}

#task-type:hover {
  outline: none;
  cursor: pointer;
}

#tasks-ul {
  padding: 0;
}

.tasks-li {
  margin: 0 auto;
  padding: 0 5%;
  float: right;
  max-height: 30px;
  width: 95%;
  list-style: none;
  margin: 5px 0;
  direction: rtl;
  color: #FFF;
  text-align: right;
  border-radius: 3px;
  background: #2E003F;
  -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  padding-left: 0;
}

#tasks-span-div {
  height: 100%;
  float: right;
  max-height: 30px;
}

.tasks-span {
  height: 30px; /* image's height */
  display: table-cell;
  vertical-align: middle;
}

.tasks-button {
  float: left;
  padding: 0;
  min-width: 50px;
  max-height: 30px;
}

.tasks-button i {
  height: 30px; /* image's height */
  color: #377642;
  vertical-align: middle;
}

#calender {
  height: 100%;
}

#deadlines-timeline {
  float: left;
  width: 100%;
  height: 90%;
  position: relative;
}

#deadlines-chart {
  float: left;
  width: 100%;
  padding: 20px 0;
  min-height: 50px;
  bottom: 5px;
  position: absolute;
}

#deadlines-line {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 20px;
}

#deadlines-line i {
  background: #20002b;
  width: 100%;
  height: 3px;
  float: left;
  margin-top: 22px;
}

#deadlines-ul {
  padding: 0;
  float: left;
  width: 100%;
  display: flex;
  position: absolute;
  direction: rtl;
}

.deadlines-li {
  float: left;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  direction: rtl;
}

.deadlines-circles-parent {
  width: 100%;
  float: left;
  text-align: center;
  display: flex;
}

.deadlines-circle {
  float: left;
  border: 2px solid #AD9400;
  border-radius: 50%;
  padding: 5px;
  margin: 0 auto;
}

.deadlines-li-circle {
  width: 25px;
  height: 25px;
  background: #AD9400;
  color: #FFF;
  border-radius: 50%;
  -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
}

.deadlines-circle:hover {
  cursor: pointer;
}

.deadlines-dates {
  color: #FFF;
}

#deadline-view {
  width: 100%;
  float: right;
  display: flex;
  margin-top: 50px;
}

.deadlines-state {
  margin: 0 auto;
  float: right;
  display: none;
}

.deadline-images {
  float: right;
  height: 100px;
}

#vacation-span {
  color: #FFF;
  font-family: yekan;
  direction: rtl;
  float: left;
  padding-top: 15%;
  margin-right: 20px;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  padding: 5% 5%;
  width: 70%;
  height: 60%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.deadline-views-li {
  color: #FFF;
  direction: rtl;
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  list-style: none;
}

.deadline-views-li img {
  height: 40px;
}

#deadlines-view-ul {
  display: flex;
  width: 100%;
  padding: 0;
}
